
    button, input[type="submit"]
    {
        font-family:calibri;
        color:#C74451;
        background:lightgray;
        border:0px;
        padding:3px;
        width:80px;
        border-radius:0px 20px 20px 20px;
    }
    button:hover ,input[type="submit"]:hover
    {
        background:#C74451;
        color:white;
    }
    
    b
    {
        color:gray;
    }
    #ylink
    {
        font-size:1.1em;
        font-weight:bold;
    }
    
    #shortDesc:hover: #longDesc
    {
        background:red;
        display:block;
    }
    
     #loadingbar{display:block;margin:0 auto;}
    
    #post-list
    {
        width:100%;
        list-style:none;
        transition:all .25s ease-in-out;
    }

    #post-box
    {
        float:left;
        padding:7px;
        width:180px;
        
        margin:0px auto;
    }
    #post-selected_, #post-selected_1{
        height:180px;
        max-height:300px;
        padding:10px;
        border-radius:0px 20px 20px 20px;
    }
    
    table tr:last-child td:first-child {
        border-bottom-left-radius:10px;
    }

    table tr:last-child td:last-child {
        border-bottom-right-radius:10px;
    }

   
    
    #section-post
    {
        padding:0px;
    }
    

    #post-selected_
    {
        background: #FFFFFF;
    }
    #post-selected_1 
    {
        background: #ebebeb;
        box-shadow: 2px 2px 5px #888888;
        
          transition: box-shadow,background .20s ease-in-out;
    }
    
    #post-selected_1:hover 
    {
        transition: background 1.26s ease-in-out;
        background: #45484d; /* Old browsers */
        background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

        color:white;
        display:block;
    }
    
    #post-selected_:hover
    {
        background: #f4f3f3;
        -webkit-transition: all .20s ease-in-out;
          -moz-transition: all .20s ease-in-out;
          -o-transition: all .20s ease-in-out;
          transition: all .20s ease-in-out;
    }
    
    #myCanvas{
        background:#ebebeb;
    }
    #slider
    {
        float:right;   
        padding-right:120px;     
    }
