<div id="section-post">

    
    
    <article>
        <div ng-show = "btnShow" id ='status'>
            <button  ng-click = "googleLogin()">
                LOGIN
            </button>
            
        </div>
        <div id = "results">
            {{results}}
        </div>
    </article>
    
    <!--article>
        <input type = "text" id = "txtVideo" ng-model = "txtVideo" placeholder="Video URL" />
        <button id = "btnGetAnnotations" ng-click = "getAnnotation()">Get annotations</button>
        
        
        <div class = "language-xml" id ="result">{{result}}</div>
        
     
    </article-->

</div>